*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
             
             .hearder{
               padding: 0.1mm;
               background-color:deepskyblue;
               position: fixed;
             }
             .navbar{
               display: flex;
               position: sticky;
               text-shadow: 100px;
               box-sizing: border-box;
               padding-left:50px;
               padding-right: 50px;
               align-items: center;
               font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
               justify-content: space-around; 
               top: 0;
               gap: 593px;
               
             }
            

             .navbar a{
               color: rgb(68, 7, 53);
               padding: 15px 20px;
               text-decoration: none;
               text-align: center;
         
            
             }
             .navbar a:hover{
               background-color:hotpink;
               color:rgb(3, 58, 76);
             }
             .thrill{
              font-family:Georgia, 'Times New Roman', Times, serif;
              font-style: italic;
              color: rgb(171, 38, 109);
              font-weight: 400px;
             }
             .purchase{
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color: white;
              background-color: rgb(209, 0, 111) ;
              text-decoration: none;
              border-radius: 10px;
              padding: 10px 20px;
              text-align: center;
              display: inline-block;
             }
             .purchase:hover{
              box-shadow: 0 0 10px 3px rgb(12, 82, 107);
              border-radius: 5px;
               }
               .color{
                display: flex;
                position: sticky;
               }
.background{

    height:100vh;

    background-image:url("amazing\ bg.jpg");

    background-size:cover;
    background-position:center;

    /* keeps background fixed */
    background-attachment:fixed;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}


.overlay{

    color:deeppink;
    padding:40px;
    text-align:center;
    border-radius:20px;
    font-size:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900px;
    text-shadow: 3px 4px #6a3d6f;

}
            
            .arrange {

                height:100vh;
                background-image:url("bg\ amazing\ color.jpg");
                background-repeat: no-repeat;

                background-size:cover;
                background-position:center;

                background-attachment:fixed;
               
                display:flex;
                   }

            .main-column {
                        flex:1;
                        content-visibility: visible;
                        min-width: 500px;
                        padding: 100px;
                      }
              .sidebar{
                        flex: 1;
                        min-width: 500px;
                        padding: 50px;
                        }
              .image-container{
                
                position:static;
              }

              
             .korean{
                width: 690px;
                height:750px;
                align-items: center;
               
             }

              
             .create{
               color:rgb(0, 135, 180);
              text-align:left;
               text-shadow: 3px 3px #2a3d5f;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               text-transform: capitalize;
               font-weight:900;
               font-size: 1.5cm;
               word-spacing: 1px;
               corner-top-right-shape: 200px;
             }
             .with{
              color: rgb(66, 82, 82);
              font-size: larger;
              font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              padding-bottom: 20px;

             }
             .button{
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color: white;
              background-color: rgb(209, 0, 111) ;
              text-decoration: none;
              border-radius: 10px;
              padding: 10px 20px;
              text-align: center;
              display: inline-block;
             }
             a.button:hover{
              box-shadow: 0 0 5px 3px rgb(64, 192, 227);
               }
               .browse{
                color:rgb(0, 135, 180);
                text-decoration: dotted;
                padding-left: 25px;
               }
               .browse:hover{
                text-decoration: underline;
                color: blueviolet;
               }
            
              


.content{ 

    background-color: rgb(124, 200, 250);
    min-height: 100vh;
    padding: 50px;


}
.cat{
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 40px;
}
.h1{

    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;

}

.cards{

    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

}

.card{

    width: 300px;
    background-color: rgb(237, 156, 253);

    border-radius: 30px;
    overflow: hidden; 

    box-shadow: 0 10px 20px  rgb(201, 110, 219);

    transition: 0.3s;
} 

.card:hover{ 

    transform: translateY(-10px);

}

.card img{

    width: 100%;
    height: 320px;
    

    object-fit: cover;
}  

.card h3{

    padding: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.content1{ 

    background-color: rgb(227, 158, 214);
    min-height: 100vh;
    padding: 50px;


}

.card2{

    width: 300px;
    background-color:rgb(124, 200, 250);

    border-radius: 30px;
    overflow: hidden; 

    box-shadow: 0 10px 20px rgb(124, 200, 250);

    transition: 0.3s;
} 

.card2:hover{ 

    transform: translateY(-10px);

}

.card2 img{

    width: 100%;
    height: 320px;
    

    object-fit: cover;
}  

.card2 h3{

    padding: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discount{

    color: rgb(200, 52, 52);
    font-size: small;
}

 a.cartbutton:link,a.cartbutton:visited{
            background-color:rgb(237, 156, 253);
            color:rgb(124, 200, 250);
            border: 2px solid rgb(24, 21, 12);
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 25px;
        }
        a.cartbutton:hover,a.cartbutton:active{
            background-color:rgb(124, 200, 250) ;
            color: rgb(237, 156, 253);
        }

         .star::before {
        content:url("");
        background-image: url("ratingg.png");
        background-size: 10px 10px;
        background-repeat: 4;
        background-position: none;
        display: inline-block;
        width: 40px;
        height:10px;
    }

.footer{
    
  background-color:  rgb(167, 3, 88) ;
  color: rgb(221, 174, 212);
   position: sticky;
   justify-content: space-around; 
  text-shadow: 100px;
    box-sizing: border-box;
    padding:30px;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.adjust{
    font-weight: 100px;
    gap: 500px;
    display: flex;
    
}
.tri{
  color:rgb(235, 111, 177) ; 
}
 a.buttonn:link,a.buttonn:visited{
           text-decoration: none;
            color:rgb(137, 212, 229) ;
            display: inline-block;
           }
        a.buttonn:hover,a.buttonn:active{
            transform:translateY(-5px);
        }
        
.container{
           max-width: 1400px;
            color:rgb(221, 174, 212);
            
            display: flex;
            justify-content: space-between;
            
}
.side{
            padding:20px;
            margin-bottom:20px;
            box-sizing: border-box;
            flex-basis:  30%;
           
        }
        @media(min-width: 850px){
            .container{
                display: flex;
                justify-content: space-between;
            }
        }
        
        .side:nth-child(1)
        .side:nth-child(2)
        .side:nth-child(3)
        .side:nth-child(4){background-color: rgb(238, 129, 187)  ;}
        
        .h{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 50px;
            text-align: center;
            text-decoration: solid;
        }

        .h2{
            font-size: 20px;
            text-align: center;
            text-decoration: solid;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
         
        .last{

            font-size:medium;
            text-align: center;
            
        }

        